:root {
  --mainColor: #34495E;
  --textColor: #F4F6F7;
}
/* root file */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dd-bg-color{
    display: flex;
    background-color: var(--mainColor);
}
header a{
    color: var(--textColor);
}
